.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    top: 40%;
    font-size: 2.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, 50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: white;
}
.btn-right{
    right: 10px;
}
.btn-left{
    left: 10px;
}
.slider-section{
    width: calc(100% / 7);
    height: 100%;
}
.container-main{
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.slider-section img{
    width: 700px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.container-carousel{
    width: 700px;
    height: 400px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}
.carruseles{
    width: 700%;
    height: 100%;
    display: flex;
}
.carrusel{
    width: 100%;
    margin: 0px;  
}
@media(max-width:768px) {
    .slider-section img0{
        width: 275px !important;   
    }
    .carrusel a img{
        width: 250px !important;
    }   
}