/* fuentes disponibles: "Acme"; "Bangers";"Gochi Hand";"Fugaz One";"Gloria Hallelujah";"Roboto";
'Shadows Into Light';'Yatra Ome' */

*{
    margin: 5px;
    padding: 5px;

    background-color: blanchedalmond;
    font-family: "Acme";
}

nav{
    font-family: "bangers";
    color:orange;
    background-color: blue;
    }

a{background-color: blue;
    color:white
}

h1 {
    color: orangered;
    font-family: "Acme";
    font-size: larger;
}

h2{ 
    background-color: black;
    color: white;
    font-family: 'Acme';
    font-size: medium;}
h3{ 
    background-color: orange;
    color: black;
    font-family: "Bangers";}
h4{ 
    color: black;
    font-family: "Acme";}
h5{ 
    border: dotted blue;
    color: white;
    font-family: "Acme";}
p{  
    color: black;
    font-family: "Gochi Hand";
    font-size: medium;}

ul{color:navy;
font-family: "acme";
}


.TextoFooter{
    background-color: orange;
    font-family: "Acme";}